{% extends "base.html" %}
{% block body %}
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="login/">Pic Upload App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
             <li class='active'><a href="/login/">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>  
    <div class="jumbotron">
      <div class="container">
        <h2>Public Shared Picture<h2>
      </div>
    </div>  
                <!-- List of uploaded images -->
    {% if images %}
            <ul>
            {% for image in images %}
                    <li>
                     <p>Owner Name:{{image.user.username}}</p>
                    <a href="/login/" >
                    <img src="{{ image.imagefile.url }}" alt="{{ image.imagefile.name }}"><br><br>
                    </a></li>
            {% endfor %}
            </ul>
    {% else %}
            <p>No Public Picture available.</p>
    {% endif %}

                <!-- Upload form. Note enctype attribute! -->
    {% endblock %} 
